name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            # 1. Aller dans le dossier du projet
            cd /var/www/static-site-host
            
            # 2. Récupérer le dernier code
            git pull origin main
            
            # 3. Mettre à jour et redémarrer le Backend
            cd server
            npm install
            pm2 restart sitehost-api
            
            # 4. Reconstruire le Frontend
            cd ..
            npm install
            npm run build
